@media (max-width: 48rem) {
  html {
    font-size: 50%;
  }

  .hero-image-contact {
    background-position: 40% 70%;
  }

  .logo-image {
    height: 4rem;
    width: 8rem;
  }

  .footer {
    font-size: 1.2rem;
  }

  .contact-box {
    width: 50rem;
  }

  .contact-text {
    font-size: 5rem;
  }

  .contact-box input {
    width: 25rem;
  }
}

@media (max-width: 36rem) {
  .hero-image-index {
    background-image: url("../images/Background_images/background-img\(36rem\).png");
  }

  .contact {
    gap: 2rem;
  }

  .contact-text {
    font-size: 5rem;
  }

  .plan-price span:nth-child(2) {
    font-size: 1.2rem;
  }

  .contact-box {
    width: 48rem;
    height: 50rem;
  }

  .container {
    width: 50rem;
  }

  .conformation-text {
    margin-bottom: 2rem;
  }

  .email-text {
    margin: 1rem 1.5rem;
  }
}

@media (max-width: 27rem) {
  .logo-image {
    height: 3rem;
    width: 6rem;
  }

  ::placeholder {
    text-align: center;
  }

  .icon {
    height: 1.8rem;
    width: 1.8rem;
  }

  .nav-link {
    font-size: 1.8rem;
  }

  .footer {
    font-size: 0.8rem;
  }
  .link {
    height: 5rem;
    width: 25rem;
    padding: 0 2rem;
  }

  .contact-text {
    font-size: 4rem;
  }

  .contact-box {
    width: 40rem;
  }

  .container {
    width: 45rem;
  }
}
