* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

nav {
  font-size: 2rem;
  font-weight: 700;
  background-color: #ffffff14;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 2.8rem 1rem 2.8rem;
}

.nav-links {
  list-style: none;
}

.link-attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s;
}

.nav-link:hover {
  text-decoration: none;
  color: #ff973c;
}

.hero-image-index {
  background-image: url("../images/Background_images/background-img.png");

  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-image-contact {
  background-image: url("../images/Background_images/contact.webp");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
}

.logo-image {
  height: 5rem;
  width: 10rem;
}

.container {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  display: grid;
  row-gap: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-image {
  height: 3rem;
  width: 3rem;
  transition: all 0.2s;
}

.link:hover .container-image {
  height: 3.5rem;
  width: 3.5rem;
}

.container a {
  text-decoration: none;
  color: #ffffff;
}

.link {
  background-color: #ffffff44;
  box-shadow: 2.4rem 1.2rem 5.2rem rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(5px);
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 5rem;
  width: 35rem;
  border-radius: 30px;
  transition: all 0.2s;
  padding: 0 8.5rem;
}

.link p {
  justify-content: space-around;
}

.link:hover {
  background-color: #ff973ca9;
  box-shadow: 2.4rem 1.2rem 5.2rem rgba(255, 151, 60, 0.185);
  color: black;
  letter-spacing: 0.7rem;
}

.footer {
  font-size: 1.4rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s;
}

.footer-link:hover {
  color: #ff973c;
}
